.about__container{
    color: white;
    padding: 2em 2em;
    display: flex;
    align-items:center;
    justify-content:space-between;
    width: 95% ;
   height: 100%;
  
}
.about__img img{
    border-radius: 1em;
    box-shadow: 5px 2px 5px 2px rgb(239, 219, 73) ;
}
.about__writeup{
    width: 80%;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    
}
.about__writeup p{
    width : 60%
}
bold{
    color: gold;
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    .about__container{
        flex-direction: column;
        align-items: flex-start;
    }
    .about__writeup{
        height: 55%;
    }
    .about__writeup p{
        height: 100%;
        width: 100%;
    }
}
@media only screen and (max-width: 425px){
    .about__img img{
        height: 150px;
        width: 100px;
    }
    .about__writeup{
        height: 60%;
    }
}