.intro__container{
    margin-top: auto;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 1em 0;
    justify-content: space-around;
    float: right;
    width: 49%;
    height: auto;
}
.intro__img img{
    border-radius: 10px;
    box-shadow: 5px 2px 5px 2px rgb(239, 219, 73) ;
}
.intro__writeup{
    width: 300px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
}
.intro__writeup_skills-logo{
    display: grid;
  grid-template-columns: auto auto auto;
    width: 25em;
}
.html{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;

}
.html :nth-child(1){
    color: rgb(220,74,37);
}
.css{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
}
.css :nth-child(1){
    color: rgb(38,77,228);
}
.js{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
   
}
.js :nth-child(1){
    color: yellow;
}
.react{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
}
.react :nth-child(1){
    color: rgb(94,212,243);
}
.redux{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
}
.redux :nth-child(1){
    color: rgb(122,84,188);
}

.intro__writeup a{
    color: gold;
    text-decoration: none;
}
.intro__writeup button{
    position: relative;
    border: 2px solid white;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    color: gold;
    width: 250px;
    height: 50px;
    font-size: 1.5em;
    border-radius: 5px;
    opacity: .5;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    transition: .3s;
    }
    
    .intro__writeup button:hover{
    border: 2px solid #104F55;
    background-color: rgba(365,365,365,0.5);
    cursor: pointer;
    color: #104F55;
    opacity: .8;
    transition: .3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    @media only screen and (max-width: 1200px){
        .intro__container{
            width: 65%;
        }
        .intro__writeup p{
            width: 260px;
        }
    }
    @media only screen and (max-width: 600px){
        .intro__container{
            width: 100%;
        }
        .intro__container{
            flex-direction:column;
        }
        .intro__img img{
            width: 120px;
            height: 150px;
        }
    }
    @media only screen and (max-width: 325px){
        .intro__writeup button{
            
            width: 120px;
            font-size: 1em;
            height: 35px;
        }
        .intro__container{
            width: 85%;
            padding: 1em 1em;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            height: 15em;
        }
        .intro__writeup{
            flex-direction: column;
            align-items: center;
            width: 70%;
        }
        .intro__writeup_skills-logo{
            width: 22em;
        }
        
    }
    